{% extends "base.html" %}
{% block content %}
{% if post.status == "deleted" %}
	<p class="error">Sorry, you tried to reach a deleted post.
	<a href="/">click here</a> to go main page.</p>
{% else %}
	<h2>Entry</h2>
	<p>Status: {{post.status}}</p>
	<p>{{post.body}}</p>
	{% for attachment in post.attachment_set.fetch(10) %}
		<img src="/attachment/?key={{attachment.key()}}&thumbnail=1">
	{% endfor %}
	<input type="submit" value="Cancel">

	<form action="#">
		<input type="submit" value="Post">	
	</form>
{% endif %}
{% endblock content %}
