{% extends "base.html" %}
{% block content %}
{% if entry.status == "deleted" %}
	<p class="negative">This post is deleted.
	<a href="/">click here</a> to go main page.</p>
{% else %}
		{% if entry.status == "draft" %}
			<p class="natural">
				This entry is ready to be published. If you are sure to publish
				<a href="?key={{entry.key()}}&action=publish">click here</a>.
			</p>
		{% endif %}

		{% if entry.status == "pending" %}
			<div class="natural">
				<p>
					This entry is waiting for admin review. If admin accepts
					<a href="http://friendfeed.com/anonief">anonief</a> will
					publish it.
				</p>
				<p>
					If you want to delete your post in future. You can use
					this url. So, save it to somewhere.
				</p>
				<p>
					<input type="text" value="http://ffanony.appspot.com/entry/?key={{entry.key()}}">
				</p>
			</div>
		{% endif %}

		{% if entry.status == "accepted" %}
			<p class="positive">
				This entry is accepted by admin, it will be published by
				<a href="http://friendfeed.com/anonief">anonief</a> in an hour.
			</p>
		{% endif %}
		
		{% if entry.status == "rejected" %}
			<p class="negative">
				This entry is rejected by admin, may be you have to re read the
				rules.
			</p>
		{% endif %}
		
		{% if entry.status == "published" %}
			<p class="positive">
				This entry is published by anonief.
				<a href="{{entry.url}}">Click here</a> to see it.
			</p>
			<p class="natural" style='text-align:right'>
				To delete this post,
			    <a href="/entry/?key={{entry.key()}}&action=delete">click here</a>.
			</p>
		{% endif %}
	<p>{{entry.body}}</p>
	{% for attachment in entry.attachment_set.fetch(10) %}
		<a href="/attachment/?key={{attachment.key()}}" target="blank">
			<img src="/attachment/?key={{attachment.key()}}&thumbnail=1">
		</a>
	{% endfor %}
{% endif %}
{% endblock content %}
