{% extends "base.html" %}
{% block content %}
{% if entry.status == "deleted" %}
	<p class="negative">This post is deleted.
	<a href="/">click here</a> to go main page.</p>
{% else %}
		{% if entry.status == "draft" %}
			<p class="natural">
                Friendfeed'e göndermek istediğinize emin iseniz
				<a href="?key={{entry.key()}}&action=publish">buraya tıklayın</a>.
			</p>
		{% endif %}

		{% if entry.status == "pending" %}
			<div class="natural">
				<p>
                    Bu gönderi onay için bekliyor, eğer onaylanır ise
					<a href="http://friendfeed.com/ffanony">ffanony</a> tarafından
					paylaşılacak.
				</p>
				<p>
                    Eğer bu gönderiyi silmek isterseniz aşağıdaki adresten bunu yapabilirsiniz.
                    Silmek isteyebileceğinizi düşünüyorsanız adresi bir yere kaydedin.
				</p>
				<p>
					<input type="text" value="http://ffanony.appspot.com/entry/?key={{entry.key()}}">
				</p>
			</div>
		{% endif %}

		{% if entry.status == "accepted" %}
			<p class="positive">
                Bu girdi onaylanmış, bir kaç dakika içinde
	            <a href="http://friendfeed.com/ffanony">ffanony</a> tarafından
                paylaşılmış olacak.
			</p>
		{% endif %}

		{% if entry.status == "rejected" %}
			<p class="negative">
                Girdiniz reddedilmiş, ana sayfadaki kurallar bağlantısına tıklayıp
                tekrar okumanızda fayda var.
			</p>
		{% endif %}

		{% if entry.status == "published" %}
			<p class="positive">
                Bu girdi ffanony tarafından paylaşılmış, görmek için
				<a href="{{entry.url}}">buraya tıklayın</a>.
			</p>
			<p class="natural" style='text-align:right'>
                Bu girdiyi friendfeed'den silmek için
			    <a href="/entry/?key={{entry.key()}}&action=delete">buraya tıkla</a>yabilirsiniz.
			</p>
		{% endif %}
	<p>{{entry.body}}</p>
	{% for attachment in entry.attachment_set.fetch(10) %}
		<a href="/attachment/?key={{attachment.key()}}" target="blank">
			<img src="/attachment/?key={{attachment.key()}}&thumbnail=1">
		</a>
	{% endfor %}
{% endif %}
{% endblock content %}
