{% extends "base.html" %}
{% block content %}
    <h4>Nedir?</h4>
	<p>
		Bu ekrandan yaptığınız gönderiler eğer
        <a href="#" onClick="$('div#rules').slideToggle('slow')">kurallar</a>a uyuyor ise friendfeed'deki
        <a href="http://friendfeed.com/ffanony/">ffanony</a> kullanıcısı tarafından paylaşılır,
        böylelikle kimliğinizi saklamış olursunuz.
	</p>
    <div id="rules">
        <h4>Kurallar</h4>
	    <ol>
		    <li>
                Her hangi bir ff kullanısının kullanıcı adını ya da gerçek adını geçirmek yasak.
            </li>
		    <li>
                Eğer bir fotoğraf koyacaksanız bunun her hangi bir yerine
                bilgisayar müdahelesi olmadan ffanony yazmanız gerekiyor.
                (Şuradaki gibi: <a href="http://ff.im/Pf7MO">http://ff.im/Pf7MO</a>)
		    </li>
	    </ol>
    </div>
	<form action="#" method="post" enctype="multipart/form-data" >
		<label>Girdi:</label>
		{% if err_msg %}
			<div class="negative">{{ err_msg }}</div>
		{% endif %}
		<textarea name="body"></textarea>
		<input type="file" type="image" name="img">
		<input type="file" type="image" name="img">
		<input type="file" type="image" name="img">
		<input type="submit" value="Gönder">
	</form>
{% endblock %}
